@import 'https://fonts.googleapis.com/css?family=Montserrat';

*{
  overflow-x: hidden;
  overflow: none;
  margin: 0;
  font-family: Montserrat;
  text-decoration: none;
}


ul>h1{ 
  margin-top: 3rem;
  font-size: 25px;
}

.nav-links{
  margin-top: 3rem;
}

li{
  text-align: center;
  color: black;
  width: 80%;
  height: 40px;
  font-size: 25px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  top:0;
  transition: all 0.3s ease 0s;
  overflow: auto;
  margin-top: 3rem;
  margin-right: 2rem; 
}

li:hover{
  border-radius: 5px;
  background-color: #2EE59D;
  box-shadow: 0px 15px 30px rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
}

.code{
  box-shadow: 0px 15px 20px #a7a5bd;
  border-radius: 2rem;
  margin: 2rem;
  background-color: #e5e4f5;
}



